In [ ]:
%load_ext rpy2.ipython

# Class 1: In-Class Exercises

## 1.2 Operators

Print the result of 7 raised to the 11th power

In [ ]:
print(7**11)

1977326743

Use a comparison operator to test if 7^11 is larger than 11^7

In [ ]:
7**11 >= 11**7

True

Test if 10.0 (float) is larger than 10 (int)

In [ ]:
10.0 > 10

False

What happens if you run the following?
```
"10" * 10
```

In [ ]:
"10" * 10

'10101010101010101010'

What about... why does this happen?
```
10 == "10"
```

In [ ]:
10 == "10"

False

## 1.3 Variables, Data Types, & Data Structures

Create a variable called `num` and assign the value 10 to it. Add 10 to `num`. Print the result.

In [ ]:
num = 10
num = num + 10
print(num)

Copy the following variable declartion into the cell below. Change the data type to String and print the data type.
```
num = 10.0
```

In [ ]:
num = 10.0
num = str(num)

Create the following list and print the first item in the list. Would this be `indexing` or `slicing`?
```
l = ["a", "b", "c", "d", "a"]
```

In [ ]:
l = ["a", "b", "c", "d", "a"]
print(l[0])

a

Using the same list as above, print the first 3 items. Would this be `indexing` or `slicing`?

In [ ]:
l[0:3]

['a', 'b', 'c']

Using the same list, and using `comparison operators` and `list indexing`, test if the first and last values of the list are the same?

In [ ]:
l[0] == l[-1]

True

Using a dictionary, to create key value pairs for the capitals of Virginia, Maryland, and North Carolina. The `keys` should be states, the `values` should be capitals.

In [ ]:
d= {
    "Virginia":"Richmond",
    "Maryland":"Annapolis",
    "North Carolina":"Raleigh",
}

##1.4 Control Flows

Finish the following code block to complete the following objective:
- Given 2 numbers (num1, num2), print their product if the product is less than 100, else print the sum.

In [ ]:
num1 = 5
num2 = 10
product = num1 * num2

if #-- Add code here!
  print("product is too large")
  print(num1 + num2)
else:
  print(product)

Complete the following code:
- Use a for-loop to print a number in a list, only if it is odd.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [ ]:
for i in numbers:
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
odd_number = []
for i in numbers:
  ##################
  ##################
  #### Add Code here
  ### Hint! If-statement will be useful
  if i%2!=0:
    odd_number.append(i)

  ##################
  ##################

Given 2 dictionaries (AL_teams, and NL_teams), use a for-loop(s) to combine the dictionaries into a single dictionary of MLB_teams with all of the information from AL_teams and NL_teams.

In [2]:
AL_Teams = {
    "Boston"   : "Redsox",
    "Baltimore": "Orioles",
    "Tampa Bay": "Rays"
}
NL_Teams = {
    "Atlanta"   : "Braves",
    "Washington": "Nationals",
    "New York"  : "Mets"
}
MLB_teams = {}
### For-loop(s) here!
for al in AL_Teams.keys():
  MLB_teams[al] = AL_Teams[al]
for nl in NL_Teams.keys():
  MLB_teams[nl] = NL_Teams[nl]




#####
print(MLB_teams)

{'Boston': 'Redsox', 'Baltimore': 'Orioles', 'Tampa Bay': 'Rays', 'Atlanta': 'Braves', 'Washington': 'Nationals', 'New York': 'Mets'}

Use a for-loop to calculate the average of the following list. Do not use any built-in functions.

Find the avg of the numbers in the list, "numbers" and save the result to the variable "avg"

In [3]:
numbers = [40, 30, 100, 5, 7]
avg = None
##################
##################
#### add code here
count = 0
sum = 0
for num in numbers:
  count = count + 1
  sum = sum + num
avg = sum / count

##################
##################
print(avg)

36.4