# Class 02: Intro to R
In-Class Exercises

IMPORTANT: This exercise mixes R and python. So be sure you are running the python kernel (upper right) and then execute the following code.

In [1]:
%load_ext rpy2.ipython

## 1.2 Operators

Choose the appropriate arithmetic operator to determine how many times does 11 go into 1,323,575 (not including the remainder)

In [2]:
%%R
1323575 %/% 11

[1] 120325

In [3]:
%%R
as.integer(1323576 / 11)

[1] 120325

Using the previous example, determine what the remainder is in the division problem.

In [4]:
%%R
1323575 %% 11

[1] 0

Using the following, already defined variables, use `relational operators` to return TRUE if `x` is equivalent to `y`, and `z` is ***not*** equivalent to `a`

In [5]:
%%R
x <- 10
y <- 10
z <- 20
a <- 20

#--- Add code below
(x==y) & (z!=a)

[1] FALSE

Use the same variables as above and use `relational operators` to determine if either `x` is equivalent to `y`, or `z` is equivalent to `a`

In [7]:
%%R
(x==y) | (z==a)

[1] TRUE

## 1.3 Data types, variables, and Data Structures

What are the two methods of assigning data to a variable in R? Please show an example of each. Are there any differences?

In [8]:
%%R
a <- 10
#-- or
a = 10

Declare a variable named `i_am_a_variable` and assign the boolean value of True

In [9]:
%%R
i_am_a_variable <- TRUE

Create a variable called `x` and set it equal to 10. Add 5 to `x` and print the final result.

In [10]:
%%R
x <- 10
x <- x + 5
print(x)

[1] 15

In [11]:
%%R
x <- 10
print(x+5)

[1] 15

Create an atomic vector with the following numbers. Print the sum of the vector using the built-in sum function.
- 1,5,7,2,3,4

In [13]:
%%R
a <- c(1, 5, 7, 2, 3, 4)

In [14]:
%%R
sum(a)

[1] 22

Create an atomic vector with the following values. What happens and why?
- FALSE, TRUE, 2,3,"four", 5

In [15]:
%%R
a <- c(FALSE, TRUE, 2, 3, "four", 5)

In [16]:
%%R
#-- Since atomic vectors can only store a single data type within
#-- one data structure, it automatically converts all of the data
#-- types to characters
a

[1] "FALSE" "TRUE"  "2"     "3"     "four"  "5"

Create a list with the numbers 10-15. Print the first item in the list using indexing.

In [17]:
%%R
a <- 10:15
print(a[1])

[1] 10

Create a named dictionary of key-value pairs where the keys are states and the values are capitals. Do this for no more than 4 states.

In [18]:
%%R
states <- c("Virginia"="Richmond", "North Carolina"="Raleigh")

Print the capital for a state using proper key-based indexing of the dictionary

In [19]:
%%R
states["Virginia"]

  Virginia
"Richmond"

In [20]:
%%R
states[["Virginia"]]

[1] "Richmond"

What happens when you run the following code? Explain why it happens.

In [ ]:
%%R
# This creates an error because of the datatypes.
# R is trying to do addition, and would expect numeric
# data types. It instead receives character types,
# which creates an error
"a" + "b"

## 1.4 Control Flows

Use a for-loop to iterate over a list that you define that computes the modulus of each value in the list divided into 105. Your list should include numbers for 1-10.

In [22]:
%%R
for (i in 1:10){
  print(105 %% i)
}

[1] 0
[1] 1
[1] 0
[1] 1
[1] 0
[1] 3
[1] 0
[1] 1
[1] 6
[1] 5

Build on the previous question and use an if-statement to only print numbers that divide evenly into 105.

In [24]:
%%R
for (i in 1:10){
  mod_result <- 105 %% i
  if (mod_result == 0){
    print(i)
  }
}

[1] 1
[1] 3
[1] 5
[1] 7

Write code to create a list of lists that contain numeric values from 1 to the current number, with the list ending with the number 10. The output should look like ....
```R
list(
  c(1),
  c(1,2),
  c(1,2,3),
  ....
  c(1,2,3,4,5,6,7,8,9,10),
)
```
This one is a bit advanced. Hint: use `append(original_list, element_to_add)`.

In [25]:
%%R
l = list()
for (i in 1:10) {
    l = append(l, list(1:i))
}
print(l)

[[1]]
[1] 1

[[2]]
[1] 1 2

[[3]]
[1] 1 2 3

[[4]]
[1] 1 2 3 4

[[5]]
[1] 1 2 3 4 5

[[6]]
[1] 1 2 3 4 5 6

[[7]]
[1] 1 2 3 4 5 6 7

[[8]]
[1] 1 2 3 4 5 6 7 8

[[9]]
[1] 1 2 3 4 5 6 7 8 9

[[10]]
 [1]  1  2  3  4  5  6  7  8  9 10

## 1.5 Functions (R and Python!)

Write a function called `max_finder` that takes 2 numbers as an input, and returns the max. Hint, you may need if-statements...

Call the function where x=4, y=8

R

In [27]:
%%R
max_finder <- function(x,y) {
    if (x >= y) {
        return(x)
    } else {
        return(y)
    }
}

max_finder(4,8)

[1] 8

Python

In [28]:
def max_finder(x,y):
    if x >= y:
        return x
    else:
        return y

max_finder(4,8)

8

[BTW, we did in the hard way -- both python an R have a `max()` function.]

Write a function called `scalar` that takes a 2 arguments, 1) a vector of numbers, and 2) an optional scalar (single value) to multiply each number in the vector by. The second argument should default to 1. The function should return the scaled list.

Call the function with a list of 1, 2, 3 and a scaler of 2

R

In [30]:
%%R
scalar <- function(vector_of_numbers, multiplier=1) {
    return(vector_of_numbers * multiplier)
}

scalar(1:3, multiplier=2)

[1] 2 4 6

Python

(python doesn't have vectors natively, so just use a list as the argument. Hint: you'll probably need to use the the list `append()` method.)

In [31]:
def scalar(list_of_numbers, multiplier=1):
    l = list()
    for i in list_of_numbers:
        l.append(i*multiplier)
    return(l)

scalar([1,2,3], multiplier=2)

[2, 4, 6]