# ASSN_2

Please complete the following questions and tasks. When writing code, please provide answers in `R`. Please provide all answers in this ipynb notebook. Readability of the code and questions will count for 10% of the assignment, so please comment and use Markdown to make the ipynb easy to read!

Once completed, please turn this ipynb into the corrresponding assignment on `Blackboard`.

In general the programs you write should work for any data passed in, not just the "input" given. For example, if I ask you to print all values in a list, if they are equal to 3 for the list - l=[1,2,3,2,3] the answer could be...
```
[print(i) for i in l if i==3]
```
But should **NOT** be...
```
print(l[2])
print(l[[-1])
```

**IMPORTANT**: This assignment mixes R and python. So be sure you are running the python kernel (upper right) and then execute the following code.

In [ ]:
# optionally run this
%load_ext rpy2.ipython

I will leave it to you to insert the `%%R` cell magic where needed or switch between kernels if you prefer.

# `Section 1`: Just R

## Question 1

What are the 2 assignment operators in R? Create a variable named x and set it to 10 using both of the operators.

## Question 2

Create two variables `a` and `b`, and initially set them each to a different number. Write a program that swaps both values.

In [ ]:
a <- 10
b <- 25

#--- Swap the values for a & b
#############################

## Question 3

Use a for-loop to calculate and print the average grade using the following dictionary.

In [ ]:
grades <- c("Math"=80, "Gym"=90, "English"=91)

##-- Add code below

Copy your code from the previous question, but use an if-else statement to also print the grade letter using a standard 10-point scale (e.g. no plus or minuses), along with the computed average.

In [ ]:
grades <- c("Math"=80, "Gym"=90, "English"=91)

##-- Add code below

## Question 4

A fast food chain has these meals

|Meal |Price|
|---|---|
|Burger | 5 |
|Pizza |  3 |
|Hot Dog | 1.50 |

Given the following list input, use a for-loop and a dictionary (with the above prices for foods) to calculate the order total, make sure to include 10% sales tax!

In [ ]:
Items_ordered <- c("Burger", "Burger", "Pizza", "Hot Dog")

#--- Add code below!

## Question 5

Using a while-loop write a program that flips a virtual coin 100 times, and prints the results. You will need to research how to produce random numbers in R.

In [ ]:
Coin <- c("Heads", "Tails")

#--- Add code below!

## Question 6

Using the following list `numbers`, write a for-loop(s) to print each number however many times the number isâ€¦. For example
```
1
22
333
4444
```
Hint: Use a nested for-loop

In [ ]:
Numbers <- c(1,2,3,4,5,6,7,8,9,10)


#-- Add code below!

## Question 7

Using bult-in R functions (e.g. no loops or anything) calculate the mean, median, and sum of the following list.

In [ ]:
li <- c(10,1000,32,542, 100, 1000, 23, 34)

## Question 8

Without using any built-in R functions, write code to find the largest number in the following list, `li`

In [ ]:
li <- c(10,1000,32,542, 100, 1000, 23, 34)

#-- Add code here!

## Question 9

Define a variable `x` and set it to 10. Cast `x` to be a String. Print the data type.

# `Section 2`: R and Python

## Question 10

Create a function that takes an atomic vector as input. The function should return TRUE if the atomic vector contains at least 1 even number, and false otherwise. The function should be assigned to name `contains_even`. Once you create the function use the function to determine if the following atomic vector (or list in Python) contains any even numbers - `c(11,13,15,16,19)`

R

In [ ]:
#--- Dont change this!
print(contains_even(list(11,13,15,16,19)))
print(contains_even(list(11,13,15,19)))

Python

In [ ]:
#--- Dont change this!
print(contains_even([11,13,15,16,19]))
print(contains_even([11,13,15,19]))

## Question 11

Create a function named `counter` that given a integer and vector, will return how many times the integer appears inside the vector. The integer input should default to 10.

R

In [ ]:
#--- Dont change this!
print(counter(11, list(11,13,15,16,11) ))

Python

In [ ]:
#--- Dont change this!
print(counter(11, [11,13,15,16,11] ))

## Question 12

Without using any built-in functions, write a function named `max_finder` that takes an atomic vector as input and returns the largest value.

R

In [ ]:
#--- Dont change this!
print(max_finder( c(10,11,12,13,2) ))

Python

In [ ]:
#--- Dont change this!
print(max_finder( [10,11,12,13,2] ))

## Question 13

Without using any built-in functions, write a function named `reverse_reverse` that takes an atomic vector as an input, and returns the same list, in reverse order

R

In [ ]:
#--- Dont change this!
print(reverse_reverse( c(1,2,3,4,5) ))

Python

In [ ]:
#--- Dont change this!
print(reverse_reverse( [1,2,3,4,5] ))

## Question 14

5. Write a function named `palindromer` that takes a atomic vector of characters as an input, and returns TRUE only if it is a Palindrome, and FALSE otherwise
e.g. c("H", "A", "N", "N", "A", "H") should be TRUE

e.g. c("B", "E", "N") should be FALSE

R

In [ ]:
#--- Dont change this!
print( palindromer( c("H", "A", "N", "N", "A", "H") ))
print( palindromer( c("B", "E", "N") ))

Python

In [ ]:
#--- Dont change this!
print( palindromer( ["H", "A", "N", "N", "A", "H"] ))
print( palindromer( []"B", "E", "N"] ))